* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

.layout-menu {
    background-color: #444343;
    height: 40px;

    .layout-menu__wrapper {
        width: 20%;
        margin-left: 5%;
    }

    .layout-menu__root {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;
    }

    li {
        list-style-type: none;
    }

    .active_text {
        font-family: "黑体";
        color: #8c888b;
        background: -webkit-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d);
        background: -moz-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d);
        background: -ms-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d);
        background: linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d);
        color: transparent;
        /*设置字体颜色透明*/
        -webkit-background-clip: text;
        /*背景裁剪为文本形式*/
        animation: ran 50s linear infinite;
        /*动态10s展示*/
    }

    @keyframes ran {
        from {
            backgroud-position: 0 0;
        }

        to {
            background-position: 2000px 0;
        }
    }
}

@import "./home.less";